$primaryBlack: #1F1F1F;
$primaryBlackHovered: #0a0a0a;
$secondaryBlack: #353535;
$tertiaryBlack: #6A6A6A;

$primaryWhite: #FFFFFF;
$secondaryWhite: #FAFAFA;
$tertiaryWhite: #b3b3b3;
$quadraWhite: #f1f1f1;
$borderWhite: #DDDDDD;

$primaryColor: #348165;
$primaryColorHovered: #266e51;


$primaryFont: "montserrat", sans-serif;
$secondaryFont: "mighty beast", sans;